{% extends 'base.html' %}
{% load static %}

{% block title %}Home - OT Shipping Blog{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        {% for post in articles %}
            {% if forloop.counter > 1%}
                <div class="col-4 mb-4">
                    <h2 class="h5 h-25 mt-4">
                        <a href="{% url 'article' post.slug %}">{{post.title}}</a>
                    </h2>
                    <img class="img-fluid" src="{{post.banner.url}}" alt="{{post.title}}">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}