{% extends 'base.html' %}
{% load static %}

{% block title %}OT Shipping Blog - Register{% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1 class="h4">Resigter</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
